/*
    This file is part of m.css.

    Copyright © 2017, 2018 Vladimír Vondruš <mosra@centrum.cz>

    Permission is hereby granted, free of charge, to any person obtaining a
    copy of this software and associated documentation files (the "Software"),
    to deal in the Software without restriction, including without limitation
    the rights to use, copy, modify, merge, publish, distribute, sublicense,
    and/or sell copies of the Software, and to permit persons to whom the
    Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included
    in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
    THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
    FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
    DEALINGS IN THE SOFTWARE.
*/

/* Globals */
html {
  font-size: var(--font-size);
  background-color: var(--background-color);
}
body {
  font-family: var(--font);
  font-size: 1rem;
  color: var(--color);
}

/* Block elements */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: var(--heading-font-weight);
}
h1 {
  margin-bottom: 1rem;
}
h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
}
p, ul, ol, dl {
  margin-top: 0;
}
ul, ol {
  padding-left: 2rem;
}
ul ol, ul ul, ol ol, ol ul {
  margin-bottom: 0;
}
main p {
  text-indent: var(--paragraph-indent);
  text-align: var(--paragraph-align);
}
/* Remove indentation and justification where it doesn't make sense */
main p.m-noindent, li > p, dd > p, table.m-table td > p {
  text-indent: 0;
  text-align: left;
}
blockquote {
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  border-left-style: solid;
  border-left-width: 0.25rem;
}
hr {
  width: 75%;
  border-width: 0.0625rem;
  border-style: solid;
}
blockquote, hr {
  border-color: var(--line-color);
}
pre {
  font-family: var(--code-font), monospace, monospace; /* https://en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  color: var(--code-color);
  background-color: var(--code-background-color);
  border-radius: var(--border-radius);
  overflow-x: auto;
  margin-top: 0; /* stupid defaults */
}
pre.m-console {
  background-color: var(--console-background-color);
}

/* Inline elements */
abbr {
  cursor: help;
  text-decoration: underline dotted;
}
sub, sup { /* https://gist.github.com/unruthless/413930 */
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup { top: -0.35rem; }
sub { bottom: -0.2rem; }
a {
  color: var(--link-color);
}
a:hover, a:focus, a:active {
  color: var(--link-active-color);
}
a img { border: 0; } /* Why you so special, IE?! */
svg a { cursor: pointer; } /* And why YOU, CHROME?! */
mark {
  padding: 0.0625rem;
  background-color: var(--mark-background-color);
  color: var(--mark-color);
}
code {
  font-family: var(--code-font), monospace, monospace;
  font-size: 0.9rem;
  padding: 0.125rem;
  color: var(--code-color);
  background-color: var(--code-background-color);
}
code.m-console {
  background-color: var(--console-background-color);
}

/* Header navigation */
body > header > nav {
  width: 100%;
  background-color: var(--header-background-color);
  min-height: 3rem;
}
body > header > nav.m-navbar-landing,
body > header > nav.m-navbar-cover {
  background-color: transparent;
  position: relative;
}
body > header > nav.m-navbar-landing {
  opacity: 0.8;
}
body > header > nav.m-navbar-cover {
  background-color: var(--header-background-color-jumbo);
  opacity: 1;
}
body > header > nav.m-navbar-landing:hover,
body > header > nav.m-navbar-cover:hover {
  background-color: var(--header-background-color-landing);
  opacity: 1;
}
body> header > nav.m-navbar-landing:target,
body> header > nav.m-navbar-cover:target {
  background-color: var(--header-background-color);
  opacity: 1;
}
body > header > nav.m-navbar-landing a#m-navbar-brand.m-navbar-brand-hidden {
  visibility: hidden;
}
body > header > nav.m-navbar-landing:target a#m-navbar-brand.m-navbar-brand-hidden {
  visibility: visible;
}
body > header > nav {
  margin-left: auto;
  margin-right: auto;
  color: var(--header-color);
}
body > header > nav a {
  text-decoration: var(--link-decoration-nav);
  text-transform: var(--nav-menu-case);
  display: inline-block;
  vertical-align: middle;
  line-height: 2.75rem;
  color: var(--header-link-color);
}
body > header > nav a#m-navbar-brand, body > header > nav a#m-navbar-show, body > header > nav a#m-navbar-hide {
  text-transform: var(--nav-brand-case);
  font-weight: var(--heading-font-weight);
  font-size: 1.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
body > header > nav a#m-navbar-brand .m-thin {
  font-weight: normal;
}
body > header > nav a#m-navbar-show:before, body > header > nav a#m-navbar-hide:before {
  content:'\2630';
}
body > header > nav #m-navbar-collapse {
  padding-bottom: 1rem;
}
body > header > nav #m-navbar-collapse li {
  border-style: solid;
  border-color: transparent;
  border-width: 0 0 0 0.25rem;
  margin-left: -1rem;
}
body > header > nav #m-navbar-collapse li a {
  border-style: solid;
  border-color: transparent;
  line-height: 1.5rem;
  margin-left: -0.25rem;
  padding-left: 0.75rem;
  border-width: 0 0 0 0.25rem;
  width: 100%;
}
body > header > nav #m-navbar-collapse li a#m-navbar-current {
  color: var(--header-link-current-color);
  border-color: var(--header-link-current-color);
}
body > header > nav ol {
  list-style-type: none;
  margin: 0;
}
body > header > nav ol ol {
  padding-left: 1.5rem;
}
body > header > nav [class*='m-col-'] {
  padding-top: 0;
  padding-bottom: 0;
}
body > header > nav a:hover, body > header > nav a:focus, body > header > nav a:active {
  color: var(--header-link-active-color);
}
body > header > nav #m-navbar-collapse li:hover {
  border-color: var(--header-link-active-color);
}
body > header > nav #m-navbar-collapse li a:hover,
body > header > nav #m-navbar-collapse li a:focus,
body > header > nav #m-navbar-collapse li a:active {
  border-color: var(--header-link-active-color);
  background-color: var(--header-link-active-background-color);
}
body > header > nav.m-navbar-landing #m-navbar-collapse li a:hover,
body > header > nav.m-navbar-cover #m-navbar-collapse li a:hover,
body > header > nav.m-navbar-landing #m-navbar-collapse li a:focus,
body > header > nav.m-navbar-cover #m-navbar-collapse li a:focus,
body > header > nav.m-navbar-landing #m-navbar-collapse li a:active,
body > header > nav.m-navbar-cover #m-navbar-collapse li a:active {
  background-color: var(--header-link-active-background-color-semi);
}

/* Header navigation -- collapsible part */
body > header > nav #m-navbar-hide {
  display: none;
}
body > header > nav:target #m-navbar-collapse {
  display: block;
}
body > header > nav:target #m-navbar-show {
  display: none;
}
body > header > nav:target #m-navbar-hide {
  display: inline-block;
}

/* Header navigation -- 768px and up (tablets, desktops) */
@media screen and (min-width: 768px) {
  body > header > nav #m-navbar-show, body > header > nav #m-navbar-hide,
  body > header > nav:target #m-navbar-show, body > header > nav:target #m-navbar-hide {
    display: none;
  }
  body > header > nav #m-navbar-collapse li a {
    line-height: 2.75rem;
  }
  body > header > nav a, body > header > nav #m-navbar-collapse li a {
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
  }
  body > header > nav #m-navbar-collapse {
    padding-bottom: 0;
  }
  body > header > nav #m-navbar-collapse li ol {
    background-color: var(--header-background-color);
  }
  body > header > nav #m-navbar-collapse ol ol li {
    margin-left: 0;
    padding-left: 0;
    border-left-width: 0;
  }
  body > header > nav #m-navbar-collapse ol ol li a {
    padding-left: 0.75rem;
  }
  body > header > nav #m-navbar-collapse > .m-row > ol > li {
    margin-left: 0;
    border-left-width: 0;
  }
  body > header > nav #m-navbar-collapse > .m-row > ol > li > a {
    border-width: var(--header-border-width);
  }
  body > header > nav #m-navbar-collapse ol {
    padding-left: 0;
    padding-right: 0;
  }
  body > header > nav #m-navbar-collapse > .m-row > ol, body > header > nav #m-navbar-collapse > .m-row > ol > li {
    float: left;
  }
  body > header > nav #m-navbar-collapse ol ol {
    z-index: 99999;
    position: absolute;
    visibility: hidden;
  }
  body > header > nav #m-navbar-collapse li:hover ol {
    visibility: visible;
  }
}

/* Footer navigation */
body > footer {
  width: 100%;
}
body > footer > nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: var(--footer-font-size);
  text-align: center;
  color: var(--footer-color);
  background-color: var(--footer-background-color);
}
body > footer > nav h3, body > footer > nav h3 a {
  text-transform: var(--nav-heading-case);
  font-weight: normal;
}
body > footer > nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body > footer > nav a {
  text-decoration: var(--link-decoration-nav);
  text-transform: var(--nav-menu-case);
  color: var(--footer-link-color);
}
body > footer > nav a:hover, body > footer > nav a:focus, body > footer > nav a:active {
  color: var(--footer-link-active-color);
}

/* Main content */
body > main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Page heading (not in <header>), breadcrumb naviation on pages */
article h1 {
  font-size: 1.75rem;
}
article h1 .m-breadcrumb {
  color: var(--dim-color);
  font-weight: normal;
}
article h1 .m-breadcrumb a {
  color: var(--article-heading-color);
}
article h1 .m-breadcrumb a:hover, article h1 a:focus, article h1 a:active {
  color: var(--article-heading-active-color);
}

/* Article elements */
article > header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
article h1 a, article > header h1, article > header h1 a,
article section > h2, article section > h2 a,
article section > h3, article section > h3 a,
article section > h4, article section > h4 a,
article section > h5, article section > h5 a,
article section > h6, article section > h6 a {
  color: var(--article-heading-color);
}
article h1 a:hover, article > header h1 a:hover, article > header h1 a:focus, article > header h1 a:active,
article section > h2 a:hover, article section > h2 a:focus, article section > h2 a:active,
article section > h3 a:hover, article section > h3 a:focus, article section > h3 a:active,
article section > h4 a:hover, article section > h4 a:focus, article section > h4 a:active,
article section > h5 a:hover, article section > h5 a:focus, article section > h5 a:active,
article section > h6 a:hover, article section > h6 a:focus, article section > h6 a:active {
  color: var(--article-heading-active-color);
}
article > header .m-date {
  display: block;
  width: 2.5rem;
  float: left;
  text-align: center;
  line-height: 95%;
  font-size: 0.75rem;
  font-weight: normal;
  white-space: nowrap;
  border-right-style: solid;
  border-right-width: 0.125rem;
  border-color: var(--article-heading-color);
  padding-right: 0.75rem;
  margin-top: -0.1rem;
  margin-right: 0.75rem;
  margin-bottom: 0.25rem;
}
article > header .m-date-day {
  display: block;
  font-weight: bold;
  padding-top: 0.2rem;
  padding-bottom: 0.15rem;
  font-size: 1.25rem;
}
article > header p {
  color: var(--article-header-color);
  font-size: 1.125rem;
}
article > header h1::after {
  content: " ";
  clear: both;
  display: table;
}
article > footer {
  color: var(--article-footer-color);
}
article > footer p {
  font-style: italic;
  font-size: 0.85rem;
  text-indent: 0;
}

/* Article -- dynamic section headers */
article section:target {
  margin-left: -1.0rem;
  border-left-style: solid;
  border-left-width: 0.25rem;
  padding-left: 0.75rem;
  border-color: var(--article-heading-color);
}
article h1 a, article > header h1 a, article section > h2 a, article section > h3 a,
article section > h4 a, article section > h5 a, article section > h6 a {
  text-decoration: var(--link-decoration-heading);
}

/* Landing page, jumbo article */
#m-landing-image, #m-cover-image, article#m-jumbo > header #m-jumbo-image {
  background-size: cover;
  background-color: var(--cover-image-background-color);
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -4rem;
  padding-top: 5rem;
}
#m-landing-image {
  color: #ffffff;
}
#m-cover-image {
  height: 30rem;
  margin-bottom: -26rem;
}
#m-landing-cover h1 {
  font-size: 2.8rem;
  margin-top: -0.5rem;
  padding-left: var(--paragraph-indent);
  padding-bottom: 1rem;
  text-transform: var(--landing-header-case);
}
#m-landing-cover {
  padding-bottom: 10rem;
  margin-bottom: -6rem;
}
article#m-jumbo {
  margin-top: -1rem;
}
#m-landing-cover, #m-cover-image > div, article#m-jumbo > header #m-jumbo-cover {
  background: linear-gradient(transparent 0%, transparent 50%, var(--background-color) 100%);
  width: 100%;
  height: 100%;
}
article#m-jumbo > header h1, article#m-jumbo > header h2 {
  text-align: center;
  font-weight: bold;
}
article#m-jumbo > header a {
  text-decoration: none;
}
article#m-jumbo > header #m-jumbo-cover {
  padding-bottom: 5rem;
}
article#m-jumbo > header #m-jumbo-image {
  font-size: 2.5vmin;
  margin-bottom: -3rem;
}
article#m-jumbo > header h1 {
  font-size: 10vmin;
}
article#m-jumbo > header h2 {
  font-size: 3vmin;
}
/* 2.5vmin equals to 16px (= 1 rem) on 640px, use that as the lower limit */
@media screen and (max-height: 640px) , screen and (max-width: 640px) {
  article#m-jumbo > header h1 {
    font-size: 3rem;
  }
  article#m-jumbo > header #m-jumbo-image, article#m-jumbo > header h2 {
    font-size: 1rem;
  }
}

article#m-jumbo > header, article#m-jumbo > header h1, article#m-jumbo > header a {
  color: #ffffff;
}
article#m-jumbo > header a:hover, article#m-jumbo > header a:focus, article#m-jumbo > header a:active {
  color: #f0f0f0;
}

article#m-jumbo.m-inverted > header, article#m-jumbo.m-inverted > header h1, article#m-jumbo.m-inverted > header a {
  color: #000000;
}
article#m-jumbo.m-inverted > header a:hover, article#m-jumbo.m-inverted > header a:focus, article#m-jumbo.m-inverted > header a:active {
  color: #0f0f0f;
}

/* News list on landing pages */
.m-landing-news h3 a {
  color: var(--color);
  text-decoration: none;
  text-transform: var(--nav-heading-case);
}
.m-landing-news h3 a:hover, .m-landing-news h3 a:hover, .m-landing-news h3 a:focus, .m-landing-news h3 a:active {
  color: var(--article-heading-color);
}
.m-landing-news time {
  display: inline-block;
  margin-left: 1rem;
  float: right;
}

/* Article pagination */
.m-article-pagination {
  text-align: center;
  padding: 1rem;
}

/* Right navigation panel */
nav.m-navpanel {
  text-align: center;
}
nav.m-navpanel h3 {
  text-transform: var(--nav-heading-case);
  font-weight: normal;
}
nav.m-navpanel ol {
  text-transform: var(--nav-categories-case);
}
nav.m-navpanel ol, nav.m-navpanel ul {
  list-style-type: none;
  padding: 0;
}
nav.m-navpanel a {
  color: var(--navpanel-link-color);
  text-decoration: var(--link-decoration-nav);
}
nav.m-navpanel a:hover, nav.m-navpanel a:focus, nav.m-navpanel a:active {
  color: var(--navpanel-link-active-color);
}

/* Tag cloud */
ul.m-tagcloud li { display: inline; }
ul.m-tagcloud li.m-tag-1 { font-size: 0.75rem; }
ul.m-tagcloud li.m-tag-2 { font-size: 0.825rem; }
ul.m-tagcloud li.m-tag-3 { font-size: 1rem; }
ul.m-tagcloud li.m-tag-4 { font-size: 1.25rem; }
ul.m-tagcloud li.m-tag-5 { font-size: 1.5rem; }

/* Utility */
div.m-scroll {
  max-width: 100%;
  overflow-x: auto;
}
.m-fullwidth {
  width: 100%;
}
.m-text-center, .m-text-center.m-noindent, table.m-table th.m-text-center, .m-text-center p {
  text-align: center;
}
.m-text-left, .m-text-left.m-noindent, table.m-table th.m-text-left, .m-text-right p {
  text-align: left;
}
.m-text-right, .m-text-right.m-noindent, table.m-table th.m-text-right, .m-text-right p {
  text-align: right;
}
.m-text-top, table.m-table th.m-text-top, table.m-table td.m-text-top {
  vertical-align: top;
}
.m-text-middle, table.m-table th.m-text-middle, table.m-table td.m-text-middle {
  vertical-align: middle;
}
.m-text-bottom, table.m-table th.m-text-bottom, table.m-table td.m-text-bottom {
  vertical-align: bottom;
}
.m-text.m-small {
  font-size: 85.4%;
}
.m-text.m-big {
  font-size: 117%;
}
.m-text.m-strong {
  font-weight: bold;
}
.m-text.m-em {
  font-style: italic;
}
h1 .m-thin, h2 .m-thin, h3 .m-thin, h4 .m-thin, h5 .m-thin, h6 .m-thin {
  font-weight: normal;
}

/* Lists */
ul.m-unstyled, ol.m-unstyled {
  list-style-type: none;
  padding-left: 0;
}
ul[class*='m-block-'], ol[class*='m-block-'] {
  padding-left: 0;
}
ul[class*='m-block-'] li, ol[class*='m-block-'] li {
  display: inline;
}
ul[class*='m-block-bar-'] li:not(:last-child)::after, ol[class*='m-block-bar-'] li:not(:last-child)::after {
  content: " | ";
}
@media screen and (min-width: 576px) {
  ul.m-block-bar-s, ol.m-block-bar-s { padding-left: 2rem; }
  ul.m-block-bar-s li, ol.m-block-bar-s li { display: list-item; }
  ul.m-block-bar-s li:not(:last-child)::after, ol.m-block-bar-s li:not(:last-child)::after { content: ""; }
}
@media screen and (min-width: 768px) {
  ul.m-block-bar-m, ol.m-block-bar-m { padding-left: 2rem; }
  ul.m-block-bar-m li, ol.m-block-bar-m li { display: list-item; }
  ul.m-block-bar-m li:not(:last-child)::after, ol.m-block-bar-m li:not(:last-child)::after { content: ""; }
}
@media screen and (min-width: 992px) {
  ul.m-block-bar-l, ol.m-block-bar-l { padding-left: 2rem; }
  ul.m-block-bar-l li, ol.m-block-bar-l li { display: list-item; }
  ul.m-block-bar-l li:not(:last-child)::after, ol.m-block-bar-l li:not(:last-child)::after { content: ""; }
}

/* Special paragraph styling */
p.m-poem {
  text-indent: 0;
  text-align: left;
  margin-left: var(--paragraph-indent);
}
p.m-transition {
  color: var(--line-color);
  text-indent: 0;
  text-align: center;
  font-size: 2rem;
}

/* Definition list styling */
dl.m-diary {
  margin-bottom: 1.25rem;
}
dl.m-diary:last-child {
  margin-bottom: 0.25rem;
}
dl.m-diary dt {
  font-weight: bold;
  width: 3.5rem;
  float: left;
  clear: both;
  padding-top: 0.25rem;
}
dl.m-diary dd {
  padding-top: 0.25rem;
  padding-left: 3.5rem;
}

/* Note, frame, block */
.m-note {
  border-radius: var(--border-radius);
  padding: 1rem;
}
.m-note pre, .m-note code {
  background-color: var(--code-note-background-color);
}
.m-frame {
  background-color: var(--background-color);
  border-style: solid;
  border-width: 0.125rem;
  border-radius: var(--border-radius);
  border-color: var(--line-color);
  padding: 0.875rem;
}
.m-block {
  border-style: solid;
  border-width: 0.0625rem;
  border-left-width: 0.25rem;
  border-radius: var(--border-radius);
  border-color: var(--line-color);
  padding: 0.9375rem 0.9375rem 0.9375rem 0.75rem;
}

/* Badge */
.m-block.m-badge::after {
  content: ' ';
  display: block;
  clear: both;
}
.m-block.m-badge h3 {
  margin-left: 5rem;
}
.m-block.m-badge p {
  margin-left: 5rem;
  text-indent: 0;
}
.m-block.m-badge img {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  float: left;
}

/* Button */
div.m-button {
  text-align: center;
}
div.m-button a {
  display: inline-block;
  border-radius: var(--border-radius);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-decoration: none;
  font-size: 1.17rem;
}
div.m-button.m-fullwidth a {
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
div.m-button a .m-big:first-child {
  font-size: 1.37rem;
  font-weight: bold;
}
div.m-button a .m-small:last-child {
  font-size: 0.854rem;
}

/* Label */
.m-label {
  border-radius: var(--border-radius);
  font-size: 75%;
  font-weight: normal;
  padding: 0.125rem 0.25rem;
  vertical-align: 7.5%;
}
.m-label.m-flat {
  border-width: 0.0625rem;
  border-style: solid;
  border-color: var(--dim-color);
  padding: 0.0625rem 0.1875rem;
}

/* Tables */
table.m-table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
table.m-table.m-big {
  margin-top: 1.75rem;
}
div.m-scroll > table.m-table:last-child {
  margin-bottom: 0.0625rem;
}
table.m-table:not(.m-flat) tbody tr:hover {
  background-color: var(--line-color);
}
table.m-table th, table.m-table td {
  vertical-align: top;
  border-style: solid;
  border-top-width: 0.0625rem;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-color: var(--line-color);
}
table.m-table caption {
  padding-bottom: 0.5rem;
}
table.m-table thead tr:first-child th, table.m-table thead tr:first-child td {
  border-top-width: 0.125rem;
}
table.m-table thead th, table.m-table thead td {
  border-bottom-width: 0.125rem;
  vertical-align: bottom;
}
table.m-table tfoot th, table.m-table tfoot td {
  border-top-width: 0.125rem;
}
table.m-table th, table.m-table td {
  padding: 0.5rem;
}
table.m-table.m-big th, table.m-table.m-big td {
  padding: 0.75rem 1rem;
}
table.m-table th {
  text-align: left;
}
table.m-table th.m-thin {
  font-weight: normal;
}
table.m-table td.m-default, table.m-table th.m-default,
table.m-table td.m-primary, table.m-table th.m-primary,
table.m-table td.m-success, table.m-table th.m-success,
table.m-table td.m-warning, table.m-table th.m-warning,
table.m-table td.m-danger, table.m-table th.m-danger,
table.m-table td.m-info, table.m-table th.m-info,
table.m-table td.m-dim, table.m-table th.m-dim {
  padding-left: 0.4375rem;
  padding-right: 0.4375rem;
  border-left-width: 0.0625rem;
/*   border-right-width: 0.0625rem; causes horizontal scrollbar */
}
table.m-table.m-big td.m-default, table.m-table.m-big th.m-default,
table.m-table.m-big td.m-primary, table.m-table.m-big th.m-primary,
table.m-table.m-big td.m-success, table.m-table.m-big th.m-success,
table.m-table.m-big td.m-warning, table.m-table.m-big th.m-warning,
table.m-table.m-big td.m-danger, table.m-table.m-big th.m-danger,
table.m-table.m-big td.m-info, table.m-table.m-big th.m-info,
table.m-table.m-big td.m-dim, table.m-table.m-big th.m-dim {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  border-left-width: 0.0625rem;
/*   border-right-width: 0.0625rem; causes horizontal scrollbar */
}

table.m-table tr.m-default td, table.m-table td.m-default,
table.m-table tr.m-default th, table.m-table th.m-default,
table.m-table tr.m-primary td, table.m-table td.m-primary,
table.m-table tr.m-primary th, table.m-table th.m-primary,
table.m-table tr.m-success td, table.m-table td.m-success,
table.m-table tr.m-success th, table.m-table th.m-success,
table.m-table tr.m-warning td, table.m-table td.m-warning,
table.m-table tr.m-warning th, table.m-table th.m-warning,
table.m-table tr.m-danger td, table.m-table td.m-danger,
table.m-table tr.m-danger th, table.m-table th.m-danger,
table.m-table tr.m-info td, table.m-table td.m-info,
table.m-table tr.m-info th, table.m-table th.m-info,
table.m-table tr.m-dim td, table.m-table td.m-dim,
table.m-table tr.m-dim th, table.m-table th.m-dim {
  border-color: var(--background-color);
}

/* Colored block */
.m-block.m-default { border-left-color: var(--line-color); }
.m-block.m-default h3, .m-block.m-default h4, .m-block.m-default h5, .m-block.m-default h6 {
  color: var(--default-color);
}
.m-block.m-primary { border-left-color: var(--primary-color); }
.m-block.m-primary h3, .m-block.m-primary h4, .m-block.m-primary h5, .m-block.m-primary h6 {
  color: var(--primary-color);
}
.m-block.m-success { border-left-color: var(--success-color); }
.m-block.m-success h3, .m-block.m-success h4, .m-block.m-success h5, .m-block.m-success h6 {
  color: var(--success-color);
}
.m-block.m-warning { border-left-color: var(--warning-color); }
.m-block.m-warning h3, .m-block.m-warning h4, .m-block.m-warning h5, .m-block.m-warning h6 {
  color: var(--warning-color);
}
.m-block.m-danger { border-left-color: var(--danger-color); }
.m-block.m-danger h3, .m-block.m-danger h4, .m-block.m-danger h5, .m-block.m-danger h6 {
  color: var(--danger-color);
}
.m-block.m-info { border-left-color: var(--info-color); }
.m-block.m-info h3, .m-block.m-info h4, .m-block.m-info h5, .m-block.m-info h6 {
  color: var(--info-color);
}
.m-block.m-dim {
  border-left-color: var(--dim-color);
  color: var(--dim-color);
}
.m-block.m-dim a { color: var(--dim-link-color); }
.m-block.m-dim a:hover, .m-block.m-dim a:focus, .m-block.m-dim a:active {
  color: var(--dim-link-active-color);
}
.m-block.m-flat { border-color: transparent; }
.m-block.m-flat h3, .m-block.m-flat h4, .m-block.m-flat h5. .m-block.m-flat h6 {
  color: var(--default-color);
}

/* Colored note, table coloring */
.m-note.m-default { background-color: var(--default-filled-background-color); }
.m-note.m-default, table.m-table tr.m-default td, table.m-table td.m-default,
                   table.m-table tr.m-default th, table.m-table th.m-default {
  /* No background for default table to keep the row hover */
  color: var(--default-filled-color);
}
.m-note.m-default a:hover, table.m-table tr.m-default td a:hover, table.m-table td.m-default a:hover,
                           table.m-table tr.m-default th a:hover, table.m-table th.m-default a:hover,
.m-note.m-default a:focus, table.m-table tr.m-default td a:focus, table.m-table td.m-default a:focus,
                           table.m-table tr.m-default th a:focus, table.m-table th.m-default a:focus,
.m-note.m-default a:active, table.m-table tr.m-default td a:active, table.m-table td.m-default a:active,
                            table.m-table tr.m-default th a:active, table.m-table th.m-default a:active {
  color: var(--default-filled-link-active-color);
}
.m-note.m-primary a, table.m-table tr.m-primary td a, table.m-table td.m-primary a,
                     table.m-table tr.m-primary th a, table.m-table th.m-primary a {
  color: var(--default-filled-link-color);
}
.m-note.m-primary, table.m-table tr.m-primary td, table.m-table td.m-primary,
                   table.m-table tr.m-primary th, table.m-table th.m-primary {
  background-color: var(--primary-filled-background-color);
  color: var(--primary-filled-color);
}
.m-note.m-primary a, table.m-table tr.m-primary td a, table.m-table td.m-primary a,
                     table.m-table tr.m-primary th a, table.m-table th.m-primary a {
  color: var(--primary-filled-link-color);
}
.m-note.m-primary a:hover, table.m-table tr.m-primary td a:hover, table.m-table td.m-primary a:hover,
                           table.m-table tr.m-primary th a:hover, table.m-table th.m-primary a:hover,
.m-note.m-primary a:focus, table.m-table tr.m-primary td a:focus, table.m-table td.m-primary a:focus,
                           table.m-table tr.m-primary th a:focus, table.m-table th.m-primary a:focus,
.m-note.m-primary a:active, table.m-table tr.m-primary td a:active, table.m-table td.m-primary a:active,
                            table.m-table tr.m-primary th a:active, table.m-table th.m-primary a:active {
  color: var(--primary-filled-link-active-color);
}
.m-note.m-success, table.m-table tr.m-success td, table.m-table td.m-success,
                   table.m-table tr.m-success th, table.m-table th.m-success {
  background-color: var(--success-filled-background-color);
  color: var(--success-filled-color);
}
.m-note.m-success a, table.m-table tr.m-success td a, table.m-table td.m-success a,
                     table.m-table tr.m-success th a, table.m-table th.m-success a {
  color: var(--success-filled-link-color);
}
.m-note.m-success a:hover, table.m-table tr.m-success td a:hover, table.m-table td.m-success a:hover,
                           table.m-table tr.m-success th a:hover, table.m-table th.m-success a:hover,
.m-note.m-success a:focus, table.m-table tr.m-success td a:focus, table.m-table td.m-success a:focus,
                           table.m-table tr.m-success th a:focus, table.m-table th.m-success a:focus,
.m-note.m-success a:active, table.m-table tr.m-success td a:active, table.m-table td.m-success a:active,
                            table.m-table tr.m-success th a:active, table.m-table th.m-success a:active {
  color: var(--success-filled-link-active-color);
}
.m-note.m-warning, table.m-table tr.m-warning td, table.m-table td.m-warning,
                   table.m-table tr.m-warning th, table.m-table th.m-warning {
  background-color: var(--warning-filled-background-color);
  color: var(--warning-filled-color);
}
.m-note.m-warning a, table.m-table tr.m-warning td a, table.m-table td.m-warning a,
                     table.m-table tr.m-warning th a, table.m-table th.m-warning a {
  color: var(--warning-filled-link-color);
}
.m-note.m-warning a:hover, table.m-table tr.m-warning td a:hover, table.m-table td.m-warning a:hover,
                           table.m-table tr.m-warning th a:hover, table.m-table th.m-warning a:hover,
.m-note.m-warning a:focus, table.m-table tr.m-warning td a:focus, table.m-table td.m-warning a:focus,
                           table.m-table tr.m-warning th a:focus, table.m-table th.m-warning a:focus,
.m-note.m-warning a:active, table.m-table tr.m-warning td a:active, table.m-table td.m-warning a:active,
                            table.m-table tr.m-warning th a:active, table.m-table th.m-warning a:active {
  color: var(--warning-filled-link-active-color);
}
.m-note.m-danger, table.m-table tr.m-danger td, table.m-table td.m-danger,
                  table.m-table tr.m-danger th, table.m-table th.m-danger {
  background-color: var(--danger-filled-background-color);
  color: var(--danger-filled-color);
}
.m-note.m-danger a, table.m-table tr.m-danger td a, table.m-table td.m-danger a,
                    table.m-table tr.m-danger th a, table.m-table th.m-danger a {
  color: var(--danger-filled-link-color);
}
.m-note.m-danger a:hover, table.m-table tr.m-danger td a:hover, table.m-table td.m-danger a:hover,
                          table.m-table tr.m-danger th a:hover, table.m-table th.m-danger a:hover,
.m-note.m-danger a:focus, table.m-table tr.m-danger td a:focus, table.m-table td.m-danger a:focus,
                          table.m-table tr.m-danger th a:focus, table.m-table th.m-danger a:focus,
.m-note.m-danger a:active, table.m-table tr.m-danger td a:active, table.m-table td.m-danger a:active,
                           table.m-table tr.m-danger th a:active, table.m-table th.m-danger a:active {
  color: var(--danger-filled-link-active-color);
}
.m-note.m-info, table.m-table tr.m-info td, table.m-table td.m-info,
                table.m-table tr.m-info th, table.m-table th.m-info {
  background-color: var(--info-filled-background-color);
  color: var(--info-filled-color);
}
.m-note.m-info a, table.m-table tr.m-info td a, table.m-table td.m-info a,
                  table.m-table tr.m-info th a, table.m-table th.m-info a {
  color: var(--info-filled-link-color);
}
.m-note.m-info a:hover, table.m-table tr.m-info td a:hover, table.m-table td.m-info a:hover,
                        table.m-table tr.m-info th a:hover, table.m-table th.m-info a:hover,
.m-note.m-info a:focus, table.m-table tr.m-info td a:focus, table.m-table td.m-info a:focus,
                        table.m-table tr.m-info th a:focus, table.m-table th.m-info a:focus,
.m-note.m-info a:active, table.m-table tr.m-info td a:active, table.m-table td.m-info a:active,
                         table.m-table tr.m-info th a:active, table.m-table th.m-info a:active {
  color: var(--info-filled-link-active-color);
}
.m-note.m-dim, table.m-table tr.m-dim td, table.m-table td.m-dim,
               table.m-table tr.m-dim th, table.m-table th.m-dim {
  background-color: var(--dim-filled-background-color);
  color: var(--dim-filled-color);
}
.m-note.m-dim a, table.m-table tr.m-dim td a, table.m-table td.m-dim a,
                 table.m-table tr.m-dim th a, table.m-table th.m-dim a {
  color: var(--dim-filled-link-color);
}
.m-note.m-dim a:hover, table.m-table tr.m-dim td a:hover, table.m-table td.m-dim a:hover,
                       table.m-table tr.m-dim th a:hover, table.m-table th.m-dim a:hover,
.m-note.m-dim a:focus, table.m-table tr.m-dim td a:focus, table.m-table td.m-dim a:focus,
                       table.m-table tr.m-dim th a:focus, table.m-table th.m-dim a:focus,
.m-note.m-dim a:active, table.m-table tr.m-dim td a:active, table.m-table td.m-dim a:active,
                        table.m-table tr.m-dim th a:active, table.m-table th.m-dim a:active {
  color: var(--dim-filled-link-active-color);
}

/* Colored text, flat label */
.m-text.m-default, .m-label.m-flat.m-default { color: var(--default-color); }
.m-text.m-primary, .m-label.m-flat.m-primary { color: var(--primary-color); }
.m-text.m-success, .m-label.m-flat.m-success { color: var(--success-color); }
.m-text.m-warning, .m-label.m-flat.m-warning { color: var(--warning-color); }
.m-text.m-danger, .m-label.m-flat.m-danger { color: var(--danger-color); }
.m-text.m-info, .m-label.m-flat.m-info { color: var(--info-color); }
.m-text.m-dim, .m-label.m-flat.m-dim { color: var(--dim-color); }
.m-text.m-dim a { color: var(--dim-link-color); }
.m-text.m-dim a:hover, .m-text.m-dim a:focus, .m-text.m-dim a:active {
  color: var(--dim-link-active-color);
}

/* Colored button, label */
div.m-button a, .m-label { color: var(--button-background-color); }
div.m-button.m-flat a { color: var(--color); }
div.m-button.m-flat a:hover, div.m-button.m-default a:focus, div.m-button.m-default a:active {
  color: var(--link-active-color);
}
div.m-button.m-default a, .m-label:not(.m-flat).m-default { background-color: var(--default-color); }
div.m-button.m-primary a, .m-label:not(.m-flat).m-primary { background-color: var(--primary-color); }
div.m-button.m-success a, .m-label:not(.m-flat).m-success { background-color: var(--success-color); }
div.m-button.m-warning a, .m-label:not(.m-flat).m-warning { background-color: var(--warning-color); }
div.m-button.m-danger a, .m-label:not(.m-flat).m-danger { background-color: var(--danger-color); }
div.m-button.m-info a, .m-label:not(.m-flat).m-info { background-color: var(--info-color); }
div.m-button.m-dim a, .m-label:not(.m-flat).m-dim { background-color: var(--dim-color); }
div.m-button.m-default a:hover, div.m-button.m-default a:focus, div.m-button.m-default a:active {
  background-color: var(--default-button-active-color);
}
div.m-button.m-primary a:hover, div.m-button.m-primary a:focus, div.m-button.m-primary a:active {
  background-color: var(--primary-button-active-color);
}
div.m-button.m-success a:hover, div.m-button.m-success a:focus, div.m-button.m-success a:active {
  background-color: var(--success-button-active-color);
}
div.m-button.m-warning a:hover, div.m-button.m-warning a:focus, div.m-button.m-warning a:active {
  background-color: var(--warning-button-active-color);
}
div.m-button.m-danger a:hover, div.m-button.m-danger a:focus, div.m-button.m-danger a:active {
  background-color: var(--danger-button-active-color);
}
div.m-button.m-info a:hover, div.m-button.m-info a:focus, div.m-button.m-info a:active {
  background-color: var(--info-button-active-color);
}
div.m-button.m-dim a:hover, div.m-button.m-dim a:focus, div.m-button.m-dim a:active {
  background-color: var(--dim-button-active-color);
}

/* Image */
img.m-image, svg.m-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.m-image {
  text-align: center;
}
img.m-image, svg.m-image, div.m-image img {
  max-width: 100%;
  border-radius: var(--border-radius);
}
div.m-image.m-fullwidth img, div.m-image.m-fullwidth svg {
  width: 100%;
}

/* Figure */
figure.m-figure {
  max-width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: table;
}
figure.m-figure:before {
  position: absolute;
  content: ' ';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; /* so it doesn't make the contents inactive */
  border-style: solid;
  border-width: 0.125rem;
  border-radius: var(--border-radius);
  border-color: var(--line-color);
}
figure.m-figure.m-flat:before {
  border-color: transparent;
}
figure.m-figure > * {
  margin-left: 1rem;
  margin-right: 1rem;
  display: table-caption;
  caption-side: bottom;
}
figure.m-figure > *:first-child {
  /* otherwise figure with clickable image is center differently */
  display: inline;
}
figure.m-figure > *:last-child {
  margin-bottom: 1rem;
}
figure.m-figure img {
  position: relative; /* so it's above the border */
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  max-width: 100%;
}
figure.m-figure.m-flat img {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
figure.m-figure figcaption {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: var(--heading-font-weight);
  font-size: 1.17rem; /* taken from webkit defaults for h3 */
}
figure.m-figure a img {
  margin-left: -1rem;
  margin-right: -1rem;
}
figure.m-figure.m-fullwidth, figure.m-figure.m-fullwidth > * {
  /* Using inline for the content would lose the margin on wrapped lines */
  display: block;
}
figure.m-figure.m-fullwidth > *:first-child {
  display: inline;
}
figure.m-figure.m-fullwidth img {
  width: 100%;
}
figure.m-figure.m-fullwidth:after {
  /* Specifying bottom margin on the last element works only if it is displayed
     as table caption, so I have to hack it here. */
  content: ' ';
  display: block;
  margin-top: 1rem;
  height: 1px;
}

/* Code figure */
figure.m-code-figure, figure.m-console-figure {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  padding: 1rem;
}
figure.m-code-figure:before, figure.m-console-figure:before {
  position: absolute;
  content: ' ';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; /* so it doesn't make the contents inactive */
  border-style: solid;
  border-width: 0.125rem;
  border-radius: var(--border-radius);
}
figure.m-code-figure:before {
  border-color: var(--code-background-color);
}
figure.m-console-figure:before {
  border-color: var(--console-background-color);
}
figure.m-code-figure.m-flat:before, figure.m-console-figure.m-flat:before {
  border-color: transparent;
}
figure.m-code-figure > pre:first-child, figure.m-console-figure > pre:first-child {
  position: relative; /* so it's above the border */
  margin: -1rem -1rem 1rem -1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
article section:target figure.m-code-figure, article section:target figure.m-console-figure {
  z-index: 1; /* so the selection border isn't above figure border */
}

/* Colored figure */
figure.m-figure.m-default:before { border-color: var(--default-filled-background-color); }
figure.m-figure.m-default figcaption { color: var(--default-color); }
figure.m-figure.m-primary:before { border-color: var(--primary-filled-background-color); }
figure.m-figure.m-primary figcaption { color: var(--primary-color); }
figure.m-figure.m-success:before { border-color: var(--success-filled-background-color); }
figure.m-figure.m-success figcaption { color: var(--success-color); }
figure.m-figure.m-warning:before { border-color: var(--warning-filled-background-color); }
figure.m-figure.m-warning figcaption { color: var(--warning-color); }
figure.m-figure.m-danger:before { border-color: var(--danger-filled-background-color); }
figure.m-figure.m-danger figcaption { color: var(--danger-color); }
figure.m-figure.m-info:before { border-color: var(--info-filled-background-color); }
figure.m-figure.m-info figcaption { color: var(--info-color); }
figure.m-figure.m-dim:before { border-color: var(--dim-filled-background-color); }
figure.m-figure.m-dim { color: var(--dim-color); }
figure.m-figure.m-dim a { color: var(--dim-link-color); }
figure.m-figure.m-dim a:hover, figure.m-figure.m-dim a:focus, figure.m-figure.m-dim a:active {
  color: var(--dim-link-active-color);
}

/* Image grid */
.m-imagegrid > div {
  background-color: var(--background-color); /* to avoid section HL shining through */
}
.m-imagegrid > div > figure {
  display: block;
  float: left;
  position: relative;
  margin: 0;
}
.m-imagegrid > div > figure > div,
.m-imagegrid > div > figure > figcaption,
.m-imagegrid > div > figure > a > div,
.m-imagegrid > div > figure > a > figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-color: var(--background-color);
  border-style: solid;
  border-width: 0.25rem;
  padding: 0.5rem;
}
.m-imagegrid > div > figure:first-child > div,
.m-imagegrid > div > figure:first-child > figcaption,
.m-imagegrid > div > figure:first-child > a > div,
.m-imagegrid > div > figure:first-child > a > figcaption {
  border-left-width: 0;
}
.m-imagegrid > div > figure:last-child > div,
.m-imagegrid > div > figure:last-child > figcaption,
.m-imagegrid > div > figure:last-child > a > div,
.m-imagegrid > div > figure:last-child > a > figcaption {
  border-right-width: 0;
}
.m-imagegrid > div > figure > figcaption,
.m-imagegrid > div > figure > a > figcaption {
  color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75rem;
}
.m-imagegrid > div > figure > div::before,
.m-imagegrid > div > figure > figcaption::before,
.m-imagegrid > div > figure > a > div::before,
.m-imagegrid > div > figure > a > figcaption::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  width: 0;
}
.m-imagegrid > div > figure:hover > figcaption,
.m-imagegrid > div > figure:hover > a > figcaption {
  background: linear-gradient(transparent 0%, transparent 75%, rgba(0, 0, 0, 0.85) 100%);
  color: #ffffff;
}
.m-imagegrid > div > figure > img,
.m-imagegrid > div > figure > a > img {
  width: 100%;
  height: 100%;
}
.m-imagegrid > div::after {
  display: block;
  content: ' ';
  clear: both;
}

@media screen and (max-width: 767px) {
  .m-imagegrid > div > figure {
    float: none;
    width: 100% !important;
  }
  .m-imagegrid > div > figure > div,
  .m-imagegrid > div > figure > figcaption,
  .m-imagegrid > div > figure > a > div,
  .m-imagegrid > div > figure > a > figcaption {
    border-left-width: 0;
    border-right-width: 0;
  }
}

/* Inflatable content */
.m-container-inflatable > .m-row > [class*='m-col-'] > .m-note,
.m-container-inflatable > .m-row > [class*='m-col-'] > .m-frame,
.m-container-inflatable > .m-row > [class*='m-col-'] > .m-block,
.m-container-inflatable > .m-row > [class*='m-col-'] > .m-imagegrid,
.m-container-inflatable > .m-row > [class*='m-col-'] > pre,
.m-container-inflatable > .m-row > [class*='m-col-'] > figure.m-code-figure,
.m-container-inflatable > .m-row > [class*='m-col-'] > figure.m-console-figure,
.m-container-inflatable > .m-row > [class*='m-col-'] section > .m-note,
.m-container-inflatable > .m-row > [class*='m-col-'] section > .m-frame,
.m-container-inflatable > .m-row > [class*='m-col-'] section > .m-block,
.m-container-inflatable > .m-row > [class*='m-col-'] section > .m-imagegrid,
.m-container-inflatable > .m-row > [class*='m-col-'] section > pre,
.m-container-inflatable > .m-row > [class*='m-col-'] section > figure.m-code-figure,
.m-container-inflatable > .m-row > [class*='m-col-'] section > figure.m-console-figure {
  margin-left: -1rem;
  margin-right: -1rem;
}

@media screen and (min-width: 576px) {
  .m-container-inflatable > .m-row > .m-col-s-10 > .m-imagegrid.m-container-inflate,
  .m-container-inflatable > .m-row > .m-col-s-10 section > .m-imagegrid.m-container-inflate {
    margin-left: -10%;
    margin-right: -10%;
  }
}
@media screen and (min-width: 768px) {
  .m-container-inflatable > .m-row > .m-col-m-10 > .m-imagegrid.m-container-inflate,
  .m-container-inflatable > .m-row > .m-col-m-10 section > .m-imagegrid.m-container-inflate {
    margin-left: -10%;
    margin-right: -10%;
  }
}
@media screen and (min-width: 992px) {
  .m-container-inflatable > .m-row > .m-col-l-10 > .m-imagegrid.m-container-inflate,
  .m-container-inflatable > .m-row > .m-col-l-10 section > .m-imagegrid.m-container-inflate {
    margin-left: -10%;
    margin-right: -10%;
  }
}

/* Active sections in inflatable content affect left border of some components */
.m-container-inflatable section:target > .m-note,
.m-container-inflatable section:target > .m-frame,
.m-container-inflatable section:target > .m-block,
.m-container-inflatable section:target > pre,
.m-container-inflatable section:target > figure.m-code-figure > pre:first-child,
.m-container-inflatable section:target > figure.m-console-figure > pre:first-child,
.m-container-inflatable section:target section > .m-note,
.m-container-inflatable section:target section > .m-frame,
.m-container-inflatable section:target section > .m-block,
.m-container-inflatable section:target section > pre,
.m-container-inflatable section:target section > figure.m-code-figure > pre:first-child,
.m-container-inflatable section:target section > figure.m-console-figure > pre:first-child {
  margin-left: -1.0rem;
  border-left-style: solid;
  border-left-width: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0.75rem;
}
.m-container-inflatable section:target > figure.m-code-figure::before,
.m-container-inflatable section:target > figure.m-console-figure::before,
.m-container-inflatable section:target section > figure.m-code-figure::before,
.m-container-inflatable section:target section > figure.m-console-figure::before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0.25rem;
}
.m-container-inflatable section:target > pre,
.m-container-inflatable section:target > figure.m-code-figure > pre:first-child,
.m-container-inflatable section:target > figure.m-console-figure > pre:first-child,
.m-container-inflatable section:target section > pre,
.m-container-inflatable section:target section > figure.m-code-figure > pre:first-child,
.m-container-inflatable section:target section > figure.m-console-figure > pre:first-child {
  border-color: var(--line-color);
}
.m-container-inflatable section:target > figure.m-code-figure::before,
.m-container-inflatable section:target > figure.m-console-figure::before,
.m-container-inflatable section:target > .m-note.m-default,
.m-container-inflatable section:target section > figure.m-code-figure::before,
.m-container-inflatable section:target section > figure.m-console-figure::before,
.m-container-inflatable section:target section > .m-note.m-default {
  border-left-color: var(--line-color);
}
.m-container-inflatable section:target > .m-note.m-primary,
.m-container-inflatable section:target section > .m-note.m-primary {
  border-left-color: var(--primary-color);
}
.m-container-inflatable section:target > .m-note.m-success,
.m-container-inflatable section:target section > .m-note.m-success {
  border-left-color: var(--success-color);
}
.m-container-inflatable section:target > .m-note.m-warning,
.m-container-inflatable section:target section > .m-note.m-warning {
  border-left-color: var(--warning-color);
}
.m-container-inflatable section:target > .m-note.m-danger,
.m-container-inflatable section:target section > .m-note.m-danger {
  border-left-color: var(--danger-color);
}
.m-container-inflatable section:target > .m-note.m-info,
.m-container-inflatable section:target section > .m-note.m-info {
  border-left-color: var(--info-color);
}
.m-container-inflatable section:target > .m-note.m-dim,
.m-container-inflatable section:target section > .m-note.m-dim {
  border-left-color: var(--dim-color);
}

/* Code block (uses Pygments CSS classes) */
pre.m-code span.hll {
  margin-left: -1.0rem;
  margin-right: -1.0rem;
  padding-left: 1.0rem;
}
pre.m-code.m-inverted {
  color: var(--code-inverted-color);
}
pre.m-code.m-inverted > span {
  opacity: 0.3333;
}
pre.m-code.m-inverted > span.hll {
  color: var(--color);
  opacity: 1;
  background-color: transparent;
  border-color: transparent;
}

/* Math block, inline math */
div.m-math {
  overflow-x: auto;
  overflow-y: hidden; /* Chrome 62 displays a vertical scrollbar otherwise */
  text-align: center;
}

/* Colored math block, inline math */
div.m-math svg, svg.m-math { fill: var(--color); }
div.m-math.m-default svg, svg.m-math.m-default { fill: var(--default-color); }
div.m-math.m-primary svg, svg.m-math.m-primary { fill: var(--primary-color); }
div.m-math.m-success svg, svg.m-math.m-success { fill: var(--success-color); }
div.m-math.m-warning svg, svg.m-math.m-warning { fill: var(--warning-color); }
div.m-math.m-danger svg, svg.m-math.m-danger { fill: var(--danger-color); }
div.m-math.m-info svg, svg.m-math.m-info { fill: var(--info-color); }
div.m-math.m-dim svg, svg.m-math.m-dim { fill: var(--dim-color); }

/* Spacing after every block element, but not after the last */
p, ul, ol, dl, blockquote, pre, figure.m-code-figure, figure.m-console-figure,
hr, article, article > header, article section,
.m-note, .m-frame, .m-block, div.m-button,
div.m-scroll, table.m-table, div.m-image, img.m-image, svg.m-image,
figure.m-figure, .m-imagegrid, div.m-math {
  margin-bottom: 1rem;
}
p:last-child, ul:last-child, ol:last-child, dl:last-child, blockquote:last-child,
pre:last-child, figure.m-code-figure:last-child, figure.m-console-figure:last-child,
hr:last-child, article:last-child, article section:last-child,
.m-note:last-child, .m-frame:last-child, .m-block:last-child,
div.m-button:last-child, div.m-scroll:last-child, table.m-table:last-child,
img.m-image:last-child, svg.m-image:last-child, div.m-image:last-child,
figure.m-figure:last-child, .m-imagegrid:last-child, div.m-math:last-child {
  margin-bottom: 0;
}

/* List items usually have just inline elements and are kept compact. If (sane)
   block elements are inside list items, they have spacing even as last, but
   not if the list item is the last. */
li > p:last-child, li > blockquote:last-child, li > pre:last-child,
li > figure.m-code-figure:last-child, li > figure.m-console-figure:last-child,
li > .m-note:last-child, li > .m-frame:last-child, li > .m-block:last-child,
li > div.m-button:last-child, li > div.m-scroll:last-child, li > table.m-table:last-child,
li > img.m-image:last-child, li > svg.m-image:last-child, li > div.m-image:last-child,
li > figure.m-figure:last-child, li > div.m-math:last-child {
  margin-bottom: 1rem;
}
li:last-child > p:last-child, li:last-child > blockquote:last-child, li:last-child > pre:last-child,
li:last-child > figure.m-code-figure:last-child, li:last-child > figure.m-console-figure:last-child,
li:last-child > .m-note:last-child, li:last-child > .m-frame:last-child, li:last-child > .m-block:last-child,
li:last-child > div.m-button:last-child, li:last-child > div.m-scroll:last-child,
li:last-child > table.m-table:last-child, li:last-child > img.m-image:last-child,
li:last-child > svg.m-image:last-child, li:last-child > div.m-image:last-child,
li:last-child > figure.m-figure:last-child, li:last-child > div.m-math:last-child {
  margin-bottom: 0;
}

.strike {
  text-decoration: line-through;
}

.strike::before {
    box-sizing: content-box !important;

}

.strike::after {
    box-sizing: content-box !important;
}

/* kate: indent-width 2; */
